<!-- app/views/questions/answer.html.erb -->
<blockquote class="blockquote">
<p>You said: <%= @question %></p>
<p>Coach says: <%= @answer %></p>
</blockquote>
<%= link_to 'Ask another Question', ask_path %>
